{% block doctype %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">{% endblock %}
{% block htmltag %}<html>{% endblock %}
<head><title>{% block title %}{{_('Replay your GPS Tracks with REGEPE')}}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link type="text/css" rel="StyleSheet" href="/static/styles/common.css" />
{% block headext %}{% endblock %}
</head>
<body>
    <div id="wrapper">
		<div id="header">
			<div id="header_search">
				<input name="search_req" id="search_txtbox" type="text" onkeypress="onSearchTxtboxKeypress(this,event);"/>
                <button id="searchbtn" onclick="onSearchClick();">
                    <span class="hdrtxt">{{_('Search')}}</span>
                    <img id="searchicon" src="/static/images/search.svg"/>
                </button>
				<div id="header_lang">
					<a href="/en/{% block urlext %}{% endblock %}"><img width="16" height="11" src="/static/images/FlagEN.jpg" alt="English"/></a>
					<a href="/fr/{{ self.urlext() }}"><img width="16" height="11" src="/static/images/FlagFR.jpg" alt="Francais"/></a>
					<a href="/es/{{ self.urlext() }}"><img width="16" height="11" src="/static/images/FlagES.jpg" alt="Espanol"/></a>
				</div>
			</div>
			<div id="header_home">
				<a href="/"><img src="/static/images/home32x32.png" width="32" height="32" alt="Home"/><span class="hdrtxt">{{_('Home')}}</span></a>
			</div>
			<div id="header_mobile">
				<a href="/mobile"><img src="/static/images/android32x32.png" width="32" height="32" alt="Get app"/><span class="hdrtxt">{{_('Get app')}}</span></a>
			</div>
			<div id="header_submit">
				<a href="/submitform"><img src="/static/images/Up32x32.png" width="32" height="32" alt="Submit"/><span class="hdrtxt">{{_('Submit track')}}</span></a>
			</div>
			<div id="header_prepare">
				<a href="/prepare"><img src="/static/images/map_edit.png" width="32" height="32" alt="Prepare"/><span class="hdrtxt">{{_('Prepare itinerary')}}</span></a>
			</div>
			<div id="header_mapofmaps">
				<a href="/mapofmaps"><img src="/static/images/WorldSearch32x32.png" width="32" height="32" alt="Browse"/><span class="hdrtxt">{{_('Browse tracks')}}</span></a>
			</div>
            <button id="loginbtn" onclick="header_login.style.display=(header_login.style.display!=='inline-table')?'inline-table':'none'">Login/Register</button>
            <div id="header_login">
				<form action="">
					<div>
						{{_('User: ')}}<input id="login_user" name="user" type="text" onkeypress="onUserTxtboxKeypress(this,event);"/>
						{{_('Password: ')}}<input id="login_password" name="password" type="password" onkeypress="onPwdTxtboxKeypress(this,event);"/>
						<input type="button" value="{{_('Login')}}" onclick="onLoginClick();"/><br/>
						<a href="/registerform">{{_('Register')}}</a> |
						<a href="/forgotpwd">{{_('Forgot password?')}}</a>
					</div>
				</form>
			</div>
		</div>
        <div id="body">
            {% block body %}
            {% endblock %}
        </div>
        <div id="footer_push"></div>
    </div>
	<div id="footer">
		<b>{{_('Contact:')}}</b> <a href="mailto:info@regepe.com">info@regepe.com</a>
	</div>
</body>
</html>
<script type="text/javascript" charset="utf-8" src="/i18n.js/header"></script>
<script type="text/javascript" src="/static/javascript/xmlhttprequest{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/header{{minify}}.js"></script>
{% block jsext %}{% endblock %}
