{% extends 'base.html' %}
{% block title %}{{_('Replay your GPS Tracks with REGEPE - Forgotten password')}}{% endblock %}
{% block urlext %}forgotpwd{% endblock %}
{% block body %}
            <h2>{{_('Forgot password?')}}</h2>
            <form name="submitform" action="/resendpwd" method="POST" enctype="multipart/form-data">
                <b>{{_('User/Email:')}}</b> <input id="user_mail" name="user_mail" type="text"/><br/>
                <b>{{_('What is the name of the planet you live on? (Anti-Robot):')}}</b> <input name="humaincheck" type="text"/><br/>
                <input name="Submit" value="{{_('Send me a forgotten password mail')}}" type="submit"/>
            </form>
{% endblock %}
