<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><title>{{_('Replay your GPS Tracks with REGEPE - Forgotten password')}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<link type="text/css" rel="StyleSheet" href="/static/styles/common.css" />
</head>
<body>
    <div id="wrapper">
		<div id="header">
			<div id="header_search">
				<input name="search_req" id="search_txtbox" type="text" onkeypress="onSearchTxtboxKeypress(this,event);"/>
				<input type="button" value="{{_('Search')}}" onclick="onSearchClick();"/>
				<div id="header_lang">
					<a href="/en/forgotpwd"><img width="16" height="11" src="/static/images/FlagEN.jpg" alt="English"/></a>
					<a href="/fr/forgotpwd"><img width="16" height="11" src="/static/images/FlagFR.jpg" alt="Francais"/></a>
					<a href="/es/forgotpwd"><img width="16" height="11" src="/static/images/FlagES.jpg" alt="Espanol"/></a>
				</div>
			</div>
			<div id="header_home">
				<a href="/"><img src="/static/images/home32x32.png" width="32" height="32" alt="Home"/>{{_('Home')}}</a>
			</div>
			<div id="header_mobile">
				<a href="/mobile"><img src="/static/images/android32x32.png" width="32" height="32" alt="Get app"/>{{_('Get app')}}</a>
			</div>
			<div id="header_submit">
				<a href="/submitform"><img src="/static/images/Up32x32.png" width="32" height="32" alt="Submit"/>{{_('Submit track')}}</a>
			</div>
			<div id="header_prepare">
				<a href="/prepare"><img src="/static/images/map_edit.png" width="32" height="32" alt="Prepare"/>{{_('Prepare itinerary')}}</a>
			</div>
			<div id="header_mapofmaps">
				<a href="mapofmaps.html"><img src="/static/images/WorldSearch32x32.png" width="32" height="32" alt="Browse"/>{{_('Browse tracks')}}</a>
			</div>
			<div id="header_login">
				<form action="">
					<div>
						{{_('User: ')}}<input id="login_user" name="user" type="text" onkeypress="onUserTxtboxKeypress(this,event);"/>
						{{_('Password: ')}}<input id="login_password" name="password" type="password" onkeypress="onPwdTxtboxKeypress(this,event);"/>
						<input type="button" value="{{_('Login')}}" onclick="onLoginClick();"/><br/>
						<a href="/registerform">{{_('Register')}}</a> |
						<a href="/forgotpwd">{{_('Forgot password?')}}</a>
					</div>
				</form>
			</div>
		</div>
        <div id="body">
            <h2>{{_('Forgot password?')}}</h2>
            <form name="submitform" action="/resendpwd" method="POST" enctype="multipart/form-data">
                <b>{{_('User/Email:')}}</b> <input id="user_mail" name="user_mail" type="text"/><br/>
                <b>{{_('What is the name of the planet you live on? (Anti-Robot):')}}</b> <input name="humaincheck" type="text"/><br/>
                <input name="Submit" value="{{_('Send me a forgotten password mail')}}" type="submit"/>
            </form>
        </div>
        <div id="footer_push"></div>
    </div>
	<div id="footer">
		<b>{{_('Contact:')}}</b> <a href="mailto:info@regepe.com">info@regepe.com</a>
	</div>
</body>
</html>
<script type="text/javascript" src="/i18n.js/header"></script>
<script type="text/javascript" src="/static/javascript/xmlhttprequest{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/header{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/utils{{minify}}.js"></script>
