{% extends 'base.html' %}
{% block headext %}
<link type="text/css" rel="StyleSheet" href="/static/styles/index.css" />
{% endblock %}
{% block body %}
            <h1>{{_('Replay your GPS Tracks with REGEPE')}}</h1>
			<h2>{% if limit>-1 %}{{_('Last updates')}} | <a href="/indexall">{{_('All updates')}}</a>{% else %}<a href="/">{{_('Last updates')}}</a> | {{_('All updates')}}{% endif %}</h2>
			<div style="position: absolute;">
				<div id="tracklist" {% if limit==-1 %}id="tracklistunlimitedstyle"{% endif %}>
					<table style="position: static;"><thead></thead><tbody>
					{% for map in maps %}
						<tr class="maplistitm" id="row{{ map.mapid }}" style="cursor:pointer;" onclick="changePreview('{{ map.mapid }}','{{ map.lat }}','{{ map.lon }}','{{ map.desc | replace("\'"," ") | replace("\n"," ") | replace("\r"," ") }}')"><td>{{ map.date }}</td><td>{{ map.desc }}</td><td> {{_('by')}} {{ map.user }}</td><td style="font-size:10px;"><a href="showmap/{{ map.mapid }}">{{_('View')}}</a></tr>
					{% endfor %}
					</tbody></table>
				</div>
				<div style="position: static;"><a href="/tour"><img src="/static/images/PlayStart64x64.png" width="64" height="64"/>{{_('Take tour')}}</a></div>
			</div>
			<div id="previewout" style="margin-left: 610px; heigth:110px;width:130px; position:absolute; z-index:10;"><img style="visibility:hidden; border-style:solid;border-width:1px;" width="130" height="110" name="preview" id="preview"/></div>
			<div id="map_of_maps" style="height:300px;width:400px;right:0; position:absolute; margin-right: 10px; z-index:9;"></div>
{% endblock %}
{% block jsext %}
<script type="text/javascript" src="https://maps.google.com/maps?file=api&amp;v=2&amp;key={{GMapsApiKey}}"></script>
<script type="text/javascript" src="/static/javascript/preview{{minify}}.js"></script>
{% endblock %}
