<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><title>{{_('Replay your GPS Tracks with REGEPE')}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<link type="text/css" rel="StyleSheet" href="/static/styles/header.css" />
<link type="text/css" rel="StyleSheet" href="/static/styles/inputform.css" />
<style type="text/css">
table { border-collapse:collapse;}
</style>
</head>
<body>
    <div id="wrapper">
		<div id="header">
			<div id="header_search">
				<input name="search_req" id="search_txtbox" type="text" onkeypress="onSearchTxtboxKeypress(this,event);"/>
				<input type="button" value="{{_('Search')}}" onclick="onSearchClick();"/>
				<div id="header_lang">
					<a href="/en/"><img width="16" height="11" src="/static/images/FlagEN.jpg" alt="English"/></a>
					<a href="/fr/"><img width="16" height="11" src="/static/images/FlagFR.jpg" alt="Francais"/></a>
					<a href="/es/"><img width="16" height="11" src="/static/images/FlagES.jpg" alt="Espanol"/></a>
				</div>
			</div>
			<div id="header_home">
				<a href="/"><img src="/static/images/home32x32.png" width="32" height="32" alt="Home"/>{{_('Home')}}</a>
			</div>
			<div id="header_mobile">
				<a href="/mobile"><img src="/static/images/android32x32.png" width="32" height="32" alt="Get app"/>{{_('Get app')}}</a>
			</div>
			<div id="header_submit">
				<a href="/submitform"><img src="/static/images/Up32x32.png" width="32" height="32" alt="Submit"/>{{_('Submit track')}}</a>
			</div>
			<div id="header_prepare">
				<a href="/prepare"><img src="/static/images/map_edit.png" width="32" height="32" alt="Prepare"/>{{_('Prepare itinerary')}}</a>
			</div>
			<div id="header_mapofmaps">
				<a href="mapofmaps.html"><img src="/static/images/WorldSearch32x32.png" width="32" height="32" alt="Browse"/>{{_('Browse tracks')}}</a>
			</div>
			<div id="header_login">
				<form action="">
					<div>{{_('User: ')}}<input id="login_user" name="user" type="text" onkeypress="onUserTxtboxKeypress(this,event);"/>
					{{_('Password: ')}}<input id="login_password" name="password" type="password" onkeypress="onPwdTxtboxKeypress(this,event);"/>
					<input type="button" value="{{_('Login')}}" onclick="onLoginClick();"/><br/>
					<a href="/registerform">{{_('Register')}}</a> |
					<a href="/forgotpwd">{{_('Forgot password?')}}</a>
					</div>
				</form>
			</div>
		</div>
        <div id="body" style="position: static;">
            <h1>{{_('Replay your GPS Tracks with REGEPE')}}</h1>
			<h2>{% if limit>-1 %}{{_('Last updates')}} | <a href="/indexall">{{_('All updates')}}</a>{% else %}<a href="/">{{_('Last updates')}}</a> | {{_('All updates')}}{% endif %}</h2>
			<div style="position: absolute;">
				<div style='width:600px; left:0; margin-left : 10px; {% if limit==-1 %}overflow: auto; height:320px;{% endif %}'>
					<table style="position: static;"><thead></thead><tbody>
					{% for map in maps %}
						<tr class="maplistitm" id="row{{ map.mapid }}" style="cursor:pointer;" onclick="changePreview('{{ map.mapid }}','{{ map.lat }}','{{ map.lon }}','{{ map.desc }}')"><td>{{ map.date }}</td><td>{{ map.desc }}</td><td> {{_('by')}} {{ map.user }}</td><td style="font-size:10px;"><a href="showmap/{{ map.mapid }}">{{_('View')}}</a></tr>
					{% endfor %}
					</tbody></table>
				</div>
				<div style="position: static;"><a href="/tour"><img src="/static/images/PlayStart64x64.png" width="64" height="64"/>{{_('Take tour')}}</a></div>
			</div>
			<div id="previewout" style="margin-left: 610px; heigth:110px;width:130px; position:absolute; z-index:10;"><img style="visibility:hidden; border-style:solid;border-width:1px;" width="130" height="110" name="preview" id="preview"/></div>
			<div id="map_of_maps" style="height:300px;width:400px;right:0; position:absolute; margin-right: 10px; z-index:9;"></div>
		</div>
		<div id="footer_push"></div>
	</div>
	<div id="footer">
	  <b>{{_('Contact:')}}</b> <a href="mailto:info@regepe.com">info@regepe.com</a>
	</div>
</body>
</html>
<script type="text/javascript" src="/i18n.js/header"></script>
<script type="text/javascript" src="/static/javascript/xmlhttprequest{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/header{{minify}}.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{GMapsApiKey}}"></script>
<script type="text/javascript" src="/static/javascript/preview{{minify}}.js"></script>
