{% extends 'base.html' %}
{% block urlext %}mapofmaps{% endblock %}
{% block body %}
            <h2>{{_('Map of tracks')}}</h2>
            <div id="loading">{{_('Loading... ')}}<img src="/static/images/loading.svg" width="32" height="32"/></div>
            <div id="map_of_maps" style="height:500px;width:500px;"></div>
{% endblock %}
{% block jsext %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GMapsApiKey }}"></script>
<script type="text/javascript">
//<![CDATA[

// create a clickable marker
function createMarker(pt, text) {
    var marker = new google.maps.Marker({position: pt, map: map, icon: marker_icon, draggable: false});
    google.maps.event.addListener(marker, "click", function(){
		new google.maps.InfoWindow({
            content: text
                  }).open({anchor:marker,map});
        //marker.openInfoWindowHtml(text);
	});
	return marker;
}

function onReadystatechange() {
	if (this.readyState == 4) {
		if (this.status == 200) {
            maps = this.responseXML.getElementsByTagName("maps");
            for (i=0;i<maps.length;i++) {
                var lat = maps[i].getAttribute('lat');
                var lon = maps[i].getAttribute('lon');
                var mapslist = maps[i].getElementsByTagName("map");
                var mytext = '';
                for (j=0;j<mapslist.length;j++) {
                    var mapid = mapslist[j].getAttribute('mapid');
                    var mapdesc = mapslist[j].textContent; //childNodes[0].nodeValue;
                    mytext += '<div><div style="max-width:300px;">' + mapdesc + '</div><div><img src="/thumbnail/'+mapid+'" width="130" height="110"/> <A HREF="/showmap/' + mapid + '">Go</A></div></div>';
                }
                var marker = createMarker(new google.maps.LatLng(lat,lon),mytext);
                //map.addOverlay(marker);
                document.getElementById("loading").innerHTML = '';
            }
        }
    }
}

function fillMap() {
    var query_str = "/getmaplist";
    var client = new XMLHttpRequest();
    client.open('GET',query_str);
    client.send();
    client.onreadystatechange = onReadystatechange;
}

var mapOptions = {
  zoom: 5,
  center: {lat:45.0,lng:0.0},
  mapTypeId: google.maps.MapTypeId.TERRAIN
};

var map = new google.maps.Map(document.getElementById("map_of_maps"),mapOptions);

var marker_icon = "/static/images/MarkerSelEnd.png";

fillMap();

//]]>
</script>
{% endblock %}
