{% extends 'base.html' %}
{% block title %}{{_('Replay your GPS Tracks with REGEPE - Mobile applications')}}{% endblock %}
{% block urlext %}mobile{% endblock %}
{% block body %}
            <p><br/>{{_("Don't have a GPS device. No problem, download our application and use the builtin GPS of your smartphone.")}}</p>
            <h2>{{_('Mobile applications')}}</h2>
            <h3>{{_('Android Regepe Tracker')}}</h3>
            <p>{{_('For biking, hiking, skiing...<br/>Record your GPS track with your Android device. Display speed, slope, vertical speed, elapsed time...')}}</p>
            <a href="/static/android/RegepeTracker.apk">{{_('Download')}}</a>
            <h3>{{_('Android Nautic Regepe Tracker')}}</h3>
            <p>{{_('For sailing, windsurfing, kitesurfing...<br/>Record your GPS track with your Android device. Display speed polar, max speed...')}}</p>
            <!--<p>Still under development!</p>-->
            <a href="/static/android/RegepeTrackerNautic.apk">{{_('Download')}}</a>
            <h3>{{_('Android Snowkite Regepe Tracker')}}</h3>
            <p>{{_('For snowkite, paragliding...<br/>Record your GPS track with your Android device. Display speed polar, vertical speed...')}}</p>
            <a href="/static/android/RegepeSnowkite.apk">{{_('Download')}}</a>
{% endblock %}
