{% extends 'base.html' %}
{% block title %}{{_('Replay your GPS Tracks with REGEPE - Register')}}{% endblock %}
{% block urlext %}register{% endblock %}
{% block body %}
            <h2>{{_('Register')}}</h2>
			{% if error_message %}<p><b>{{ error_message }}</b></p>{% endif %}
            <form action="/register" method="POST">
                <b>{{_('Mail:')}}</b> <input name="mail" type="text" id="mail"/><br/>
                <b>{{_('User:')}}</b> <input name="user" type="text" id="user" /> <input type="button" value="Generate from mail" onclick="onGenerateUserClick();"/><br/>
                <b>{{_('Password:')}}</b> <input name="pwd1" type="password"/><br/>
                <b>{{_('Confirm password:')}}</b> <input name="pwd2" type="password"/><br/>
                <b>{{_('What is the name of the planet you live on? (Anti-Robot):')}}</b> <input name="humaincheck" type="text"/><br/>
                <input type="submit" name="Register" value="{{_('Register')}}"/>
            </form>
{% endblock %}
{% block jsext %}
<script type="text/javascript">
//<![CDATA[

function generateUser(email) {
    var left;
    var i = email.indexOf('@');
    if (i>18) {
        i = 18;
    }
    if (i==-1) {
        left = email;
    }
    else {
        left = email.substring(0,i);
    }
    return left.replace(/[^a-z0-9_]/,'_');
}

function onGenerateUserClick() {
    document.getElementById("user").value = generateUser(document.getElementById("mail").value);
}

//]]>
</script>
{% endblock %}
