{% extends 'base.html' %}
{% block doctype %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.1//EN" "https://www.w3.org/MarkUp/DTD/xhtml-rdfa-2.dtd">{% endblock %}
{% block htmltag %}<html xmlns="https://www.w3.org/1999/xhtml" version="XHTML+RDFa 1.1" xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://www.w3.org/1999/xhtml https://www.w3.org/MarkUp/SCHEMA/xhtml-rdfa-2.xsd" lang="en" xml:lang="en" dir="ltr" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#">{% endblock %}
{% block headext %}
<link type="text/css" rel="StyleSheet" href="/static/styles/showmap.css" />
<meta name="description" content="{{ mapdb.trackdesc }}"/>
<link rel="image_src" href="https://{{ domain }}/thumbnail/{{ mapid }}"/>
<meta property="og:title" content="ReGePe's GPS Track replay"/>
<meta property="og:description" content="{{ mapdb.trackdesc }}"/>
<meta property="og:image" content="https://{{ domain }}/thumbnail/{{ mapid }}"/>
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<script type="text/javascript" src="/static/javascript/d3.v3{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/d3polar{{minify}}.js"></script>
{% endblock %}
{% block body %}
<div class="mapbox">
{% if type=="GMaps" %}
    <div id="map" title="{{_('Click on track to change current point')}}" tabindex="0" onkeydown="onMapKeyDown(event);" onmousewheel="onMapMouseWheel(event);"></div>
{% else %}
    <div id="map" title="{{_('Click on track to change current point')}}" tabindex="0" onkeydown="onMapKeyDown(event);"></div>
{% endif %}
    <table class="currpointcontrol"><tbody>
        <tr>
            <td><a href="javascript:void(0);" id="scrolloneminus" onclick="scrollOffset(-1);" title="{{_('Scroll one point')}}">&lt;</a></td>
            <td>
                <div class="slider" id="currentpoint-slider" title="{{_('Move current point')}}" tabIndex="1">
                    <input class="slider-input" id="currentpoint-slider-input" name="currentpoint-slider-input"/>
                </div>
            </td>
            <td><a href="javascript:void(0);" id="scrolloneplus" onclick="scrollOffset(1);" title="{{_('Scroll one point')}}">&gt;</a></td>
            <td>
                <a id="toogle_auto_play" href="javascript:void(0);" onclick="toogleAutoPlay();">{{_('Play')}}</a><br/>
                <div class="slider" id="playingspeed-slider" title="{{_('Playing speed')}}" tabIndex="1">
                    <input class="slider-input" id="playingspeed-slider-input" name="playingspeed-slider-input"/>
                </div>
            </td>
            <td>
                <b>{{_('Snake length:')}}</b><br/>
                <div class="slider" id="snakelength-slider" title="{{_('Snake length')}}" tabIndex="2">
                    <input class="slider-input" id="snakelength-slider-input" name="snakelength-slider-input"/>
                </div>
            </td>
        </tr>
{% if mapdata.wind %}
        <tr>
            <td></td>
            <td>
                <table><tbody><tr>
                    <td>
                        <div id="use_windir" style="display:none;"><input id="use_winddir_btn" type="button" value="{{_('Use WindDir')}}" onclick="useWinddir();"/></div>
                        <div id="windirbox">
                            <b>{{_('Wind direction:')}}</b>
                            <div class="slider" id="winddir-slider" title="{{_('Wind dir')}}" tabIndex="2">
                                <input class="slider-input" id="winddir-slider-input" name="winddir-slider-input"/>
                            </div>
                            <div id="winddir-value">{{_('180 &deg; (S)')}}</div>
                        </div>
                    </td><td>
                        {% if type=="GMaps" %}<div id="use_buoy"><input id="use_buoy_btn" type="button" value="{{_('Use Buoy')}}" onclick="useBuoy();"/></div>{% endif %}
                    </td>
                </tr></tbody></table>
            </td>
        </tr>
{% endif %}
    </tbody></table>
    <table class="mapfooter"><tbody><tr>
        <td class="mapfooterleft">
            {{_('Switch to:')}}
{% if type!="GeoPortal" %}<a href='/showmap/{{ mapid }}/GeoPortal'>IGN France</a>{% endif %}
{% if type!="OpenTopo" %}<a href='/showmap/{{ mapid }}/OpenTopo'>OpenTopoMap</a>{% endif %}
{% if type!="GMaps" %}<a href='/showmap/{{ mapid }}/GMaps'>Google Maps</a>{% endif %}
{% if type!="IGNES" %}<a href='/showmap/{{ mapid }}/IGNES'>IGN Spain</a>{% endif %}
        </td>
        <td class="mapfooterright">{{_('Center map : ')}}<a id="center_map_toogle" href="javascript:void(0);" onclick="toogleCenterMap()">{{_('Yes')}}</a></td>
    </tr></tbody></table>
</div>
<div id="notabs">
    <div id="mapinfos" class="rightofmap">
        <h3 onclick="toogleHideShow('trackinfos');">{{_('Map infos:')}}</h3>
        <div class="box" id="trackinfos">
            <b>{{_('User: ')}}</b><a id='trackuserlink' href="/showuser/{{ mapdb.trackuser }}"><span id='trackuser'>{{ mapdb.trackuser }}</span></a><br/>
            <b>{{_('Description: ')}}</b>
            <div id='trackdesc' style="display: inline;" onclick="showInput('trackdesc');">{{ mapdb.trackdesc }}</div>
            <div id="trackdesc_input" style="display:none;">
                <table><tbody><tr>
                    <td>
                        <textarea rows="5" cols="20" id="trackdesc_inputtxtbox" onkeypress="onInputKeyPress(event,'trackdesc');"></textarea>
                    </td><td style="vertical-align:bottom;">
                        <input id="trackdesc_cancelbtn" type="button" value="{{_('Cancel')}}" onclick="onCancelClick('trackdesc');"/><br/>
                        <input id="trackdesc_okbtn" type="button" value="{{_('OK')}}" onclick="onOkClick('trackdesc','{{ mapid }}');"/>
                    </td>
                </tr></tbody></table>
            </div>
            <br/>
            <b>{{_('Date: ')}}</b><div id='date' style="display: inline;">{{ mapdb.date }}</div>
        </div>
    </div>
    <div id="figures" class="rightofmap">
{% if mapdata.figures.top10spd and not mapdata.maxspd %}
        <h3 onclick="toogleHideShow(\'top10speeds\');">{{_('Top10 speeds')}}</h3>
        <div class="box" id="top10speeds"><ul>
	{% for spd in mapdata.figures.top10spd %}
            <li><a href="javascript:void(0);" onclick="refreshCurrentPoint({{ spd.ptidx }})">{{ spd.when }}</a> - {{ spd.spd }}</li>
	{% endfor %}
        </ul></div>
{% endif %}
        <h3 onclick="toogleHideShow(\'globalfigures\');">{{_('Global figures')}}</h3>
        <div class="box" id="globalfigures">
            {%if mapdata.figures.duration%}<div id="duration" class="figure_field"><b>{{_('Duration:')}}</b> <span id="duration-value">{{mapdata.figures.duration}}</span></div>{%endif%}
            {%if mapdata.figures.length%}<div id="length" class="figure_field"><b>{{_('Length:')}}</b> <span id="length-value">{{mapdata.figures.length}}</span></div>{%endif%}
            {%if mapdata.figures.up%}<div id="up" class="figure_field"><b>{{_('D+:')}}</b> <span id="up-value">{{mapdata.figures.up}}</span></div>{%endif%}
            {%if mapdata.figures.down%}<div id="down" class="figure_field"><b>{{_('D-:')}}</b> <span id="down-value">{{mapdata.figures.down}}</span></div>{%endif%}
            {%if mapdata.figures.maxele%}<div id="maxele" class="figure_field"><b>{{_('Ele. max:')}}</b> <span id="maxele-value">{{mapdata.figures.maxele}}</span></div>{%endif%}
            {%if mapdata.figures.minele%}<div id="minele" class="figure_field"><b>{{_('Ele. min:')}}</b> <span id="minele-value">{{mapdata.figures.minele}}</span></div>{%endif%}
            {%if mapdata.figures.meanspeed%}<div id="meanspeed" class="figure_field"><b>{{_('Mean speed:')}}</b> <span id="meanspeed-value">{{mapdata.figures.meanspeed}}</span></div>{%endif%}
            {%if mapdata.figures.mean_speed_when_in_motion%}<div id="mean_speed_when_in_motion" class="figure_field"><b>{{_('Mean spd when in motion:')}}</b> <span id="mean_speed_when_in_motion-value">{{mapdata.figures.mean_speed_when_in_motion}}</span></div>{%endif%}
            {% if not mapdata.flat %}
            <div id="mean_motion_vert_spd" class="figure_field"><b>Mean vert. spd. in motion:</b> <span id="mean_motion_vert_spd-value">{{_('Computing...')}}</span></div>
            {% endif %}
        </div>
    </div>
    <div id="currentpoint" class="rightofmap">
        <h3>{{_('Current point:')}}</h3>
        <div class="currentinfobox" id="current_point_infos"></div>
    </div>
    <div id="currentsel" class="rightofmap">
        <h3>{{_('Current selection:')}}</h3>
        <div class="currentinfobox" id="selection_infos"></div>
    </div>
</div>
<div id="tabs">
    <div id="chartlabels">
{% for chart in mapdata.charts %}
	{% if chart.type=="polar" %}
        <div class="chartlabel" id="lbl{{ chart.name }}" onclick="toogleTab(this);">{{_('Polar')}}</div>
	{% else %}
        <div class="chartlabel" id="lbl{{ chart.name }}" onclick="toogleTab(this);">{{ _(chart.title) }}</div>
	{% endif %}
{% endfor %}
        <div class="chartlabel" id="lbltoolbox" onclick="toogleTab(this);">{{_('Tools')}}</div>
        <div class="chartlabel" id="lblcomments" onclick="toogleTab(this);">{{_('Comments')}}</div>
        <div class="chartlabel" id="lblpauseschart" onclick="toogleTab(this);">{{_('Pauses')}}</div>
    </div>
    <div id="chartcontents">
{% for chart in mapdata.chartdata %}
	{% if chart.type=="polar" %}
        <div id="polarchart" class="chart">
            <div id="polargraph" style="width:500px; height:400px;"></div>
            <div id="bestvmg"></div>
        </div>
        <script>drawD3Polar({{ chart|tojson|safe }},500,400,"#polargraph");</script>
	{% elif chart.type=="line" %}
        <div class="chart" id="{{ chart.name }}">
            <div id="chart{{ chart.name }}" class="linechartcanva"></div>
            <input type="button" value="{{_('Zoom')}}" id="chartzoombtn{{ chart.name }}" style="display: none;" onclick="onChartZoom(this,'{{ chart.name }}');"/>
            <input type="button" value="{{_('Reset Zoom')}}" id="chartzoomresetbtn{{ chart.name }}" style="display: none;" onclick="onChartZoomReset(this,'{{ chart.name }}');"/>
        </div>
	{% elif chart.type=="title+string" %}
        <div id="{{ chart.name }}" class="chart">
{% macro convert_time(value,unit) -%}
    {% if unit=="s" and value>=60 %}
        {% if value>=3600 %}{{ (value/3600)|int }}h{% endif %}{% if value%3600!=0 %}{{ ((value/60)%60)|int }}min{% endif %}{% if value%60!=0 %}{{ (value%60)|int }}s{% endif %}
    {% else %}
        {{ value|int }}{{ unit }}
    {% endif %}
{%- endmacro %}
{% macro convert_maxspds(maxspds) -%}
	{% for maxspd in maxspds %}
        {% if maxspd.type=="vert" %}
            <span class="spdnb">{{ "%d"|format(maxspd.dst*3600/maxspd.time) }}</span> m/h {{ maxspd.dst }}{{ maxspd.dst_unit}} {{_('in')}} {{convert_time(maxspd.time,maxspd.time_unit)}} {{_('at')}} <a href="#" onclick="javascript:refreshSelection({{ maxspd.from_id}},{{ maxspd.to_id}});return false;">{{ maxspd.when_from}}</a><br/>
		{% elif mapdata.spdunit=="knots" %}
            <span class="spdnb">{{ "%.2f"|format(maxspd.dst*1.94384449/maxspd.time) }}</span> {{_('kts')}} {{ maxspd.dst }}{{ maxspd.dst_unit}} {{_('in')}} {{convert_time(maxspd.time,maxspd.time_unit)}} {{_('at')}} <a href="#" onclick="javascript:refreshSelection({{ maxspd.from_id}},{{ maxspd.to_id}});return false;">{{ maxspd.when_from}}</a><br/>
		{% elif mapdata.spdunit=="km/h" %}
            <span class="spdnb">{{ "%.2f"|format(maxspd.dst*3.6/maxspd.time) }}</span> km/h {{ maxspd.dst }}{{ maxspd.dst_unit}} {{_('in')}} {{convert_time(maxspd.time,maxspd.time_unit)}} {{_('at')}} <a href="#" onclick="javascript:refreshSelection({{ maxspd.from_id}},{{ maxspd.to_id}});return false;">{{ maxspd.when_from}}</a><br/>
		{% elif mapdata.spdunit=="mph" %}
		{% else %}
            <span class="spdnb">{{ "%.2f"|format(maxspd.dst/maxspd.time) }}</span> m/s {{ maxspd.dst }}{{ maxspd.dst_unit}} {{_('in')}} {{convert_time(maxspd.time,maxspd.time_unit)}} {{_('at')}} <a href="#" onclick="javascript:refreshSelection({{ maxspd.from_id}},{{ maxspd.to_id}});return false;">{{ maxspd.when_from}}</a><br/>
		{% endif %}
	{% endfor %}
{%- endmacro %}
        {% if chart.name=="runs" %}
            {{convert_maxspds(chart.contents)}}
        {% elif chart.name=="maxspd" %}        
            {% set lasttype = "n/a" %}{% set v={'lasttype':'n/a'} %}
			{% for content in chart.contents %}
				{% set lasttype=v['lasttype'] %}
				{% if content.maxspds|length > 0 %}
					{% if content.type=="dist" %}
						{% if content.type!=lasttype %}
							{% if not loop.first %}
            <div style="clear: both;"></div>
        </div>
							{% endif %}
        <div class="best_spd_main_group"><h4>{{_('Best speeds on distance')}}</h4>
						{% endif %}
						{% if content.interval_value==1852 and content.interval_unit=="m" %}
            <div class="best_spd_sub_group"><h5>{{_('Best nautical mile (1852m)')}}</h5>{{convert_maxspds(content.maxspds)}}</div>
						{% else %}
            <div class="best_spd_sub_group"><h5>{{ content.interval_value }}{{ content.interval_unit }}</h5>{{convert_maxspds(content.maxspds)}}</div>
						{% endif %}
					{% elif content.type=="time" %}
						{% if content.type!=lasttype %}
							{% if not loop.first %}
            <div style="clear: both;"></div>
        </div>
							{% endif %}
        <div class="best_spd_main_group"><h4>{{_('Best speeds on time')}}</h4>
						{% endif %}
            <div class="best_spd_sub_group"><h5>{{convert_time(content.interval_value,content.interval_unit)}}</h5>{{convert_maxspds(content.maxspds)}}</div>
					{% elif content.type=="dist_vert" %}
						{% if content.type!=lasttype %}
							{% if not loop.first %}
            <div style="clear: both;"></div>
        </div>
							{% endif %}
        <div class="best_spd_main_group"><h4>{{_('Best vertical speeds on distance')}}</h4>
						{% endif %}
            <div class="best_spd_sub_group"><h5>{{_('Climbing')}} {{ content.interval_value }}{{ content.interval_unit }}</h5>{{convert_maxspds(content.maxspds)}}</div>
					{% elif content.type=="dist_time" %}
						{% if content.type!=lasttype %}
							{% if not loop.first %}
            <div style="clear: both;"></div>
        </div>
							{% endif %}
        <div class="best_spd_main_group"><h4>{{_('Best vertical speeds on time')}}</h4>
						{% endif %}
            <div class="best_spd_sub_group"><h5>{{convert_time(content.interval_value,content.interval_unit)}}</h5>{{convert_maxspds(content.maxspds)}}</div>
					{% endif %}
					{% set lasttype = content.type %}{% if v.update({'lasttype':content.type}) %}{%endif%}
				{% endif %}
			{% endfor %}
            <div style="clear: both;"></div>
        </div>
		{% else %}
			{{ chart.contents }}
		{% endif %}
    </div>
	{% endif %}
{% endfor %}
    <div class="chart" id="toolbox">
        <b>{{_('Selection:')}}</b> <input id="sel_clearbtn" type="button" value="{{_('Clear')}}" onclick="onSelClearClick();"/>
        <input id="sel_cropbtn" type="button" value="{{_('Crop')}}" onclick="onSelCropClick();"/><br/>
        <b>{{_('Map:')}}</b> <input id="map_deletebtn" type="button" value="{{_('Delete')}}" onclick="onMapDeleteClick();"/>
        <a href="/togpx/{{ mapid }}">{{_('Export as gpx')}}</a><br/>
        <input id="del_curpt" type="button" value="{{_('Submit deleted points')}}" onclick="onSubmitDeleteClick();"/>{{_(' Submit points deleted by pressing DEL key on map')}}
    </div>
    <div class="chart" id="comments" style="width:90%;">
        <a href="javscript:void(0);" onclick="toogleAddComment();">{{_('Add')}}</a>
    </div>
    <div class="chart" id="pauseschart" style="width:90%;">
        <div class="pauses_settings">
            <div class="slidertitle">{{_('Pause min. time:')}}</div>
            <div class="slider" id="pauses-time-slider" title="{{_('Time')}}" tabIndex="1">
                <input class="slider-input" id="pauses-time-input" name="pauses-time-input"/>
            </div>
            <div class="sliderlbl" id="pauses-time-value-disp">1:00</div>
            <div class="slidertitle">{{_('Pause max. distance:')}}</div>
            <div class="slider" id="pauses-dist-slider" title="{{_('Distance')}}" tabIndex="1">
                <input class="slider-input" id="pauses-dist-input" name="pauses-dist-input"/>
            </div>
            <div class="sliderlbl" id="pauses-dist-value-disp">20 m</div>
            <div class="slidertitle">{{_('Pause max. speed:')}}</div>
            <div class="slider" id="pauses-spd-slider" title="{{_('Speed')}}" tabIndex="1">
                <input class="slider-input" id="pauses-spd-input" name="pauses-spd-input"/>
            </div>
            <div class="sliderlbl" id="pauses-spd-value-disp">3 m/s</div>
        </div>
        <div id="pauses">{{_('Computing...')}}</div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
<h2 id="aftertabs">{{_('Other tracks nearby')}}</h2>
<div id="near_maps">{{_('Near maps')}}</div>
<div style="clear:both;"></div>
{% endblock %}
{% block jsext %}
<script type="text/javascript" charset="utf-8" src="/i18n.js/map"></script>
<script type="text/javascript" src="/static/javascript/range{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/timer{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/slider{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/jquery{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/jquery.flot{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/jquery.flot.selection{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/jquery.flot.time{{minify}}.js"></script>
{% if mapdata.wind %}
<script type="text/javascript" src="/static/javascript/raphael-min.js"></script>
{% endif %}
{% if type=="GMaps" %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GMapsApiKey }}"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
{% endif %}
<script type="text/javascript" src="/static/javascript/utils{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/chartandpoint{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/db{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/tools.flot{{minify}}.js"></script>
<script type="text/javascript" src="/mapdata/{{ mapid }}"></script>
{% if mapdata.wind %}
<script type="text/javascript" src="/static/javascript/wind{{minify}}.js"></script>
{% endif %}
<script type="text/javascript" src="/static/javascript/map-flot{{minify}}.js"></script>
{% if type=="GMaps" %}
<script type="text/javascript" src="/static/javascript/mapgmaps{{minify}}.js"></script>
{% else  %}
<script type="text/javascript">
{% if type=="GeoPortal" %}
GeoPortalApiKey="{{ GeoPortalApiKey }}";
{% endif %}
map_type='{{type}}';
</script>
<script type="text/javascript" src="/static/javascript/mapgeoportal{{minify}}.js"></script>
{% endif %}
<script type="text/javascript" src="/static/javascript/pauses{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/nearmaps{{minify}}.js"></script>
{% endblock %}
