{% extends 'base.html' %}
{% block urlext %}showuser/{{user}}{% endblock %}
{% block body %}
			<h1>{{_('User ')}}{{ user }}</h1>
            <table id="search_results_table"><thead><tr><th id="sortby_date" onclick="onSortClick(event);">{{_('Date')}}</th><th id="sortby_desc" onclick="onSortClick(event);">{{_('Description')}}</th><th>{{_('Preview')}}</th></tr></thead><tbody id="search_tbody">
{% for map in maps %}
                <tr><td>{{ map.date }}</td><td><a href="/showmap/{{ map.mapid }}"/>{{ map.desc }}</a></td><td><img src="/thumbnail/{{ map.mapid }}" width="130" height="110"/></td></tr>
{% endfor %}
			</tbody></table>
{% endblock %}
