{% extends 'base.html' %}
{% block headext %}
<link type="text/css" rel="StyleSheet" href="/static/styles/submitform.css" />
{% endblock %}
{% block urlext %}submitform{% endblock %}
{% block body %}
            <h1>{{_('Submit a track (Do not forget to choose right activity profile!)')}}</h1>
            <form name="uploadform" action="/upload" method="POST" enctype="multipart/form-data">
				<h2>{{_('Source')}}</h2>
				<div id="file_and_preview">
					<div id="file_and_desc">
						<div id="file_and_trk_select_div">
							<div id="file_select_div">
								{{_('Gpx/Kml/Nmea/Sbp file(s) to analyze: ')}}<input id="file" name="file[]" type="file" onchange="input_file_change(event,this);" multiple="true"><br/>
								<small><b>{{_('Note:')}}</b> {{_('You can select more than one file using Ctrl or Shift key (not available on all broswers), the files will be concatenated in a single track.')}}</small>
							</div>
							<div id="trk_select_div" style="display: none;">
								<br/>
								{{_('File contains several tracks. Select a track: ')}}
								<select id="trk_select" name="trk_select" onchange="trk_select_change(event,this);"></select>
							</div>
							<div id="fromurl">
								<br/><b>{{_('Import from URL:')}}</b> <input id="url" name="fromurl" type="text" onchange="">
							</div>
						</div>
						<div id="desc_div">
							<b>{{_('Description:')}}</b><br/>
							<textarea rows="3" cols="30" id="trackdesc_inputtxtbox" name="desc"></textarea>
						</div>
					</div>
					<div id="preview_div">
						<b>{{_('Preview of track start point:')}}</b><br/>
						<div id="preview_map" style="height:200px;width:240px;"></div>
						<div id="preview_time"></div>
					</div>
				</div>
				<div style="clear:both;"></div>
				<h2>{{_('Options')}}</h2>
				<div id="options_div">
					{{_('Activity profile: ')}}<br/><div id="activity_select"></div><br/>
					<hr/>
					{{_('Map type: ')}}<br/><div id="map_type_select"></div><br/>
					{{_('Speed unit: ')}}
					<select id="spdunit" name="spdunit">
						<option value="m/s">{{_('m/s')}}</option>
						<option value="km/h">{{_('km/h')}}</option>
						<option value="knots">{{_('knots')}}</option>
						<option value="mph">{{_('mph')}}</option>
					</select><br/>
					{{_('Max speeds analysis: ')}}<input id="maxspd" type="checkbox" name="maxspd" value="yes">(<a href="javascript:toogleHideShow('help_maxspd');">?</a>)<div id="help_maxspd" style="display:none;">{{_('Add max speed on 50,100,200,500 meters, and max speed on 2,5,10 seconds.')}}</div><br/>
					{{_('Flat track: ')}}<input id="flat" type="checkbox" name="flat" value="yes"> (<a href="javascript:toogleHideShow('help_flat');">?</a>)<div id="help_flat" style="display:none;">{{_("If selected, doesn't compute any figure related to elevation.")}}</div><br/>
					{{_('Draw polar: ')}}<input id="wind" type="checkbox" name="wind" value="yes"> (<a href="javascript:toogleHideShow('help_wind');">?</a>)<div id="help_wind" style="display:none;">{{_('If selected, compute figures related to course. Usefull for any wind related activity.')}}</div><br/>
				</div>
			<div style="clear:both;"></div>
				<h2>{{_('Send')}}</h2>
				<div id="send_div">
					<input id="submit_id" name="submit_id" type="hidden" value="-1"/>
					<input value="{{_('Build track analysis')}}" type="submit" onclick="submit_click();"/>
				</div>
				<div id="form_session">
					<input id="user" name="user" type="hidden" value="NoUser"/>
					<input id="sess" name="sess" type="hidden" value="-1"/>
				</div>
            </form>
            <div id="progress_div">
				<div id="progress_status"></div>
				<div class="bar"></div>
				<div class="percent">0%</div>
				<div id="upload_status"></div>
			</div>
            <div style="clear:both;"></div>
{% endblock %}
{% block jsext %}
<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{GMapsApiKey}}"></script>
<script type="text/javascript" src="/static/javascript/utils{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/js-unzip{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/js-inflate{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/unzip{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/jquery{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/jquery.form{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/submitform{{minify}}.js"></script>
{% endblock %}
