{% extends 'base.html' %}
{% block urlext %}tour{% endblock %}
{% block body %}
		<h1>{{_('Tour')}}</h1>
		<ol>
			<li>{{_('With your GPS device, record your GPS position track to a GPX/Kml/Nmea file')}}</br></li>
			<li>{{_('Go to submit page by clicking on:')}} <p><a href="/submitform"><img src="/static/images/Up64x64.png" height="64" width="64"/> {{_('Submit a track')}}</a></p>
			<br/>&nbsp;</li>
			<li>{{_('Choose the file containing your track:')}}<br/>
			<img src="/static/images/tour_choosefile.png" width="206" height="92"/><br/>&nbsp;</li>
			<li>{{_('Choose an activity:')}}<br/>
			<img src="/static/images/tour_activitychoose.png" width="320" height="89"/><br/>&nbsp;</li>
			<li>{{_('Submit your track:')}}<br/>
			<img src="/static/images/tour_submit.png"/><br/>&nbsp;</li>
			<li>{{_('Get a view of your track, and:')}}
				<ul>
					<li>{{_('If you selected a wind-related activity, you will get directional figures such as VMG, polar, ...')}}<br/>
					<img src="/static/images/tour_nautic.png" width="812" height="316"/><br/>
					<b>{{_('PS:')}}</b> {{_('Do not forget to check the wind direction detected by the software. It can be changed if it is wrong or in case of changing wind')}}<br/>
					<br/>&nbsp;</li>
					<li>{{_('If you selected a ground or air activity, you will get vertical figures such as vertical speed, ...')}}<br/>
					<img src="/static/images/tour_vertical.png" width="760" height="352"/>
					<br/>&nbsp;</li>
				</ul>
			</li>
		</ol>
{% endblock %}
