{% extends 'base.html' %}
{% block headext %}
<style type="text/css">table { border-collapse:collapse;}</style>
{% endblock %}
{% block urlext %}userhome/{{ user }}{% endblock %}
{% block body %}
			<h1>{{_('User ')}}{{ user }}</h1>
			<h2>{{_('My tracks')}}</h2>
			{{_('Selection: ')}}<input type="button" value="{{_('Delete')}}" onclick="onDeleteClick();"/> <input type="button" value="{{_('Merge')}}" onclick="onMergeClick();"/><br/>
			<div style="width:50%; overflow:auto; position: absolute; height: 100%;">
				<table><thead></thead><tbody>
{% for map in maps %}
					<tr id="row{{ map.mapid }}" style="cursor:pointer;" onclick="changePreview('{{ map.mapid }}',{{ map.lat }},{{ map.lon }},'{{ map.desc }}')"><td><input class="chkbx" type="checkbox" name="chkbx{{ map.mapid }}"/></td><td>{{ map.date }}</td><td>{{ map.desc }}</td><td style="font-size:10px;"><a href="/showmap/{{ map.mapid }}">{{_('View')}}</a></tr>
{% endfor %}
				</tbody></table>
			</div>
			<div id="previewout" style="position: absolute; margin-left: 50%; heigth:110px;width:130px;"><img style="visibility:hidden;" width="130" height="110" name="preview" id="preview"></div>
			<div id="map_of_maps" style="height:300px;width:400px;right:0; position: absolute; margin-right: 10px;"></div>
{% endblock %}
{% block jsext %}
<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GMapsApiKey }}"></script>
<script type="text/javascript" src="/static/javascript/preview{{minify}}.js"></script>
<script type="text/javascript" src="/static/javascript/userhome{{minify}}.js"></script>
{% endblock %}
