body {
	margin:0;
	padding:0;
	font-family:verdana,arial,sans-serif;
	font-size:10px;
}
h3 {
	font-size:10px;
	border:1px solid #9ac1c9;
	padding:6px 6px 8px;
	font-weight:bold;
	margin-top:5px;
	margin-bottom:0px;
	cursor:pointer;
	background:linear-gradient(lightgrey,white);
	display:block;
}
h3:hover {
	font-size:10px;
	background:linear-gradient(lightyellow,white);
}
.rightofmap {
	display:inline-block;
	vertical-align:top;
	margin-left:5px;
}
#notabs {
	/*float:left;*/
	margin:5px;
}
#tabs {
	/*clear:both;*/
	float:left;
	margin:5px;
}
.chartlabel {
	font-size:10px; 
	border:1px solid #9ac1c9; 
	border-bottom:0px;
	padding:6px 6px 8px; 
	font-weight:bold; 
	cursor:pointer; 
	background:linear-gradient(lightgrey,white);
	display:inline-block;
	position:relative;
	top:3px;
	z-index:2;
}
.chartlabelselected {
	font-size:10px; 
	border:1px solid #9ac1c9; 
	border-bottom:0px;
	padding:6px 6px 8px; 
	font-weight:bold; 
	background:#EEEEEE;
	display:inline-block;
	position:relative;
	top:1px;
	z-index:2;
}
.chartlabel:hover {
	background:linear-gradient(lightyellow,white);
}
.chart {
	border:1px solid #9ac1c9; 
	background-color:#EEEEEE;
	padding-bottom:15px;
	left:10px;
	min-width:500px;
	z-index:1;
	display:none;
}
.linechartcanva {
	height:200px;
}
@media screen and (max-width: 800px) {
	.chart {
		max-width:700px;
	}
	.linechartcanva {
		width:680px;
	}
}
@media screen and (min-width: 800px) {
	.chart {
		max-width:802px;
	}
	.linechartcanva {
		width:800px;
	}
}
.box {
	font-size:10px; 
	padding:10px; 
	border:1px solid #9ac1c9; 
	border-top:none; 
	background-color:#EEEEEE;
}
.boxcontainer {
	float:left;
	margin:5px;
}
.currentinfobox {
	font-size:10px; 
	padding:10px; 
	border:1px solid #9ac1c9; 
	border-top:none; 
	background-color:#EEEEEE;
	/*width:150px;*/
}
.currpointcontrol { 
	background-color:ThreeDFace;
	/*background-color: #EEEEEE;*/
	font-size:12px; 
	width: 502px;
}
.mapfooter {
	width:502px; /*500+margin*/
}
.mapbox {
	float:left;
	/*margin:5px;*/
	margin-top:5px;
	text-align:right; 
	font-family:verdana,arial,sans-serif; 
	font-size:10px;
	display:inline-block;
}
.mapfooterleft {
	font-size:10px;
	text-align:left; 
}
.mapfooterright {
	font-size:10px;
	text-align:right; 
}
#map {
	height:500px;
	width:500px;
	border:1px solid #000;
}
#playingspeed-slider { 
	width:50px;
}
#snakelength-slider { 
	width:100px;
}
#currentpoint-slider { 
	width:300px;
}
#winddir-slider {
	width:200px;
}
#use_buoy {
	float:right;
}
#windirbox {
	font-family:verdana,arial,sans-serif; 
	font-size:12px;
	background-color:ThreeDFace;
}
#use_buoy_btn {
	width:95px;
}
.best_spd_main_group {
}
.best_spd_sub_group {
	display:inline-block;
	margin:5px;
	font-size:10px;
}
.spdnb {
	font-size:12px;
}
.best_spd_main_group h4 {
	font-family:verdana,arial,sans-serif; 
	font-size:14px;
	margin-top:5px;
	margin-bottom:0px;
}
.best_spd_sub_group h5 {
	font-family:verdana,arial,sans-serif; 
	font-weight:bold; 
	font-size:12px;
	margin-top:2px;
	margin-bottom:2px;
}

.pauses_settings {
	float:left;
	margin-right:10px;
}
.pauses_settings .slider {
	float:left;
	background-color:#EEEEEE;
}
.pauses_settings .slider .handle {
	background-color:#E0E0E0;
}
.pauses_settings .sliderlbl {
	float:left;
}
.pauses_settings .slidertitle {
	clear:both;
	font-weight:bold; 
}
#pauses .pause {
	float:left;
	width:50px;
}
#pauses .pause:last-child {
	font-weight:bold; 
	width:50%;
}

.figure_field {
}

.nearmapover {
	position:absolute;
	top:0px;
	background-color:yellow;
	margin:2px;
	border:1px solid;
	display:none;
	width:125px;
}
.nearmapoverbottom {
	position:absolute;
	top:90px;
	right:0px;
	/*background-color: yellow;*/
	margin:4px;
	/*border:1px solid;*/
	display:none;
	text-align:right;
	font-weight:bold; 
	font-size:0.8em;
	color:red;
	text-shadow:2px 2px 2px black;
}
.nearmap:hover > .nearmapover {
	display:block;
}
.nearmap:hover > .nearmapoverbottom {
	display:block;
}
.nearmap {
	float:left;
	margin:4px;
	position:relative;
}
#near_maps {
	height:118px;
	margin-bottom:20px;
}
#aftertabs {
	clear:both;
}

/* For polar */

.axis text {
  font:10px sans-serif;
}

.axis line,
.axis circle {
  fill:none;
  stroke:#777;
  stroke-dasharray:1,4;
}

.axis:last-of-type circle {
  stroke:#333;
  stroke-dasharray:none;
}

.line_mean {
  opacity:0.5;
  fill:lightgreen;
  stroke:green;
  stroke-width:1.5px;
}
.line_max {
  opacity:0.5;
  fill:yellow;
  stroke:red;
  stroke-width:1.5px;
}
.line_winddir {
  stroke:black;
  stroke-width:2px;
}
.line_vmg {
  opacity:0.5;
  stroke:blue;
  fill:lightblue;
  stroke-width:1px;
}

/* slider */
.dynamic-slider-control {
	position:			relative;
	/*background-color:	#EEEEEE;*/
	background-color:	ThreeDFace;
	-moz-user-focus:	normal;
	-moz-user-select:	none;
	cursor:				default;
}

.horizontal {
	width:				200px;
	height:				29px;
}

.vertical {
	width:				29px;
	height:				200px;
}

.dynamic-slider-control input {
	display:	none;
}

.dynamic-slider-control .handle {
	position:			absolute;
	-moz-user-select:	none;
	cursor:				default;
	background:			ThreeDFace;
	border:				1px solid;
	border-color:		ThreeDHighlight ThreeDDarkShadow
						ThreeDDarkShadow ThreeDHighlight;
}

/* inner border */
.dynamic-slider-control .handle div {
	font-size:			1px;
	border:				1px solid;
	border-color:		ThreeDLightShadow ThreeDShadow
						ThreeDShadow ThreeDLightShadow;	

	behavior:			url("../styles/boxsizing.htc");	/* ie path bug */
	box-sizing:			content-box;
	-moz-box-sizing:	content-box;
}

/*	inner sets size
.dynamic-slider-control.horizontal .handle {
	width:				12px;
	height:				22px;
}
*/

.dynamic-slider-control.horizontal .handle div {
	width:				8px;
	height:				18px;
}

.dynamic-slider-control.horizontal .handle.hover {}

/* inner sets size
.dynamic-slider-control.vertical .handle {
	width:				22px;
	height:				12px;
}
*/

.dynamic-slider-control.vertical .handle div {
	width:				18px;
	height:				8px;
}

.dynamic-slider-control.vertical .handle.hover {}

.dynamic-slider-control .line {
	
	behavior:			url("css/boxsizing.htc"); /* ie path bug */
	box-sizing:			content-box;
	-moz-box-sizing:	content-box;
		
	position:			absolute;
	font-size:			0.01mm;
	overflow:			hidden;
	border:				1px solid;
	border-color:		ThreeDShadow ThreeDHighlight
						ThreeDHighlight ThreeDShadow;
	background:			ThreeDDarkShadow;
}

.dynamic-slider-control.vertical .line {
	width:				1px;
	
}

.dynamic-slider-control.horizontal .line {
	height:				1px;
}

.dynamic-slider-control .line div {
	display:	none;
}

/* end slider */
