
#file_and_preview {
	margin-top:10px;
	padding-bottom:10px;
}

#file_and_trk_select_div {
  	width:300px;
	min-height:120px;
	float:left;
	border:1px solid #bbb;
	padding:10px;
}

#preview_div {
	margin-left:10px;
	width:250px;
	float:none;
	min-height:250px;
	float:left;
	border:1px solid #bbb;
	padding:10px;
}

#options_div {
	clear:both;
	float:left;
	padding:10px;
	border:1px solid #bbb;
	width:582px;
}

#send_div {
	clear:both;
	float:left;
	width:200px;
	height:100px;
	padding:10px;
	border:1px solid #bbb;
	text-align:center;
}

#progress_div {
	float:left;
	width:360px;
	height:100px;
	padding:10px;
	border:1px solid #bbb;
}

#desc_div {
	clear:both;
	float:left;
	width:300px;
	height:100px;
	padding:10px;
	border:1px solid #bbb;
}

#file_and_desc {
	float:left;
}

#activity_select {
	display: inline-block;
}
#activity_select span {
	position: relative;
	top: 20px;
}
#activity_select img {
	vertical-align:middle;
	float: right;
	margin: 1px;
}

#map_type_select img {
	vertical-align:middle;
	border: 1px solid black;
	margin: 2px;
	float: right;
}
#map_type_select {
	display: inline-block;
}
#map_type_select span {
	position: relative;
	top: 20px;
}

.bar {
	background-color: blue;
}

@media only screen and (max-width:400px) {
	.activitytxt {
		display:none;
	}
	#progress_div {
		width:100%;
		padding:0px;
	}
	#options_div {
		width:100%;
		padding:0px;
	}
}
